body {
  background-color: hsl(233, 47%, 7%);
}



.attribution {
  font-size: 11px;
  text-align: center;
  font-family: 'Lexend Deca';
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.img-header {
  background: linear-gradient(hsla(276, 74%, 31%, 0.6), hsla(276, 74%, 31%, 0.6));
  border-radius: 10px 10px 0 0;
}

.img-header1 {
  z-index: -1;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.text-col {
  background-color: hsl(244, 38%, 16%);
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca';
  font-size: 15px;
  font-weight: 400;
  border-radius: 0 0 10px 10px;
}

span {
  color: hsl(277, 64%, 61%);
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h1, span {
  font-size: 32px;
  font-family: 'Inter';
  font-weight: 700;
}

.hidden2 {
  visibility: hidden;
  position: absolute;
}

.text-col{
  text-align: center;
}

.stats p {
  font-family: 'Lexend Deca', sans-serif;
}

.m-3 p {
  font-family: 'Inter';
}
.wrapper1{
  margin: 48px 8px 8px 8px;
}
.wrapper2{
  margin: 16px;
}

.wrapper3{
  margin: 48px 16px 16px 16px;
}

@media (min-width: 991px) {
  .hidden1 {
    visibility: hidden;
    position: absolute;
  }
  .hidden2 {
    visibility: visible;
    position: relative;
    max-width: 540px;
  }
  .container{
    margin-top: 178px;
  }
  .text-col{
    text-align: left;
    border-radius: 10px 0 0 10px;
  }
  .img-header, .img-header1{
    border-radius: 0 10px 10px 0;
  }
  .wrapper1{
    margin: 74px 74px 24px 74px;
  }

  .wrapper2{
    margin: 0 74px 74px 74px;
  }
  .wrapper3{
    margin: 0 74px 0 74px;
  }
  .stats-text{
    padding:0;
  }
}